@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  padding: 60px;
}

input {
  color: black;
  font-size: 1.2rem;
  margin: 10px 0 10px 0;
  width: 100%;
}

.section-name {
  margin: 10px 0;
  text-decoration: underline;
}

.section-divider {
  margin: 10px 0;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.card {
  align-content: center;
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.card h3 {
  padding: 5px;
  text-align: center;
}

.card img {
  max-height: 225px;
  margin: 0 10px 0 10px;
}

.image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
